xx<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Introduction</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->


    <!-- ***** Welcome Area Start ***** -->

       <!--header starts
    <div>
        <div class="top">
            <ul class="topnav">
                <li class="active" herf="#">Intro to XX</li>
                <li class="inactive" herf="#">Check Status</li>
            </ul>
        </div>
    </div>
  header ends-->

    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>Welcome</strong></h1>
                        <p>Your air-conditioner is monitored and controlled automatically</p>
                    </div>
                </div>
                <div>
                    <a class="main-button-slider" href="status.html">Check My AC</a>
                </div>
            </div>
        </div>
        <div>

        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <h5 class="features-title">AI-featured</h5>
                                <p>Empowered by trained machine learning algorithms that detect human face and body, Autocolding provides accurate feedback on the number of people in the room. The AC is subsequently turned on when people enter the room and vice versa.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <h5 class="features-title">Environmental Friendly</h5>
                                <p>The auto-control of AC reduces energy waste led by forgetting to turn it off, and thus contribute to the protection of the environment in the long run. </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <h5 class="features-title">Internet of Things</h5>
                                <p>Raspberry Pi provides real-time temperature and humidity data, which are automatically updated to this website. Conversely, users can remotely set up the humidity and temperature, and the AC will adjust correspondingly.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features End ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://hacks2021.uncommonhacks.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://hacks2021.uncommonhacks.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://hacks2021.uncommonhacks.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://hacks2021.uncommonhacks.com/"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://hacks2021.uncommonhacks.com/"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Original Template by: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>

  </body>
</html>