<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Check Status</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
   

    <!-- ***** Welcome Area Start ***** -->
    
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h1 class="section-title">Current Status</h1>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">Working?</span>
                            </div>
                            <div class="price-text">
                                {{status}}
                            </div>
                        </div>
                        <div class="switch-container">
                            <a class="main-button-slider" onclick="status=true;">on</a>
                            <a class="main-button-slider" onclick="status=false;">off</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">Temperature&Humidity</span>
                            </div>
                            <div class="price-text">
                                <p>Current Temperature is: {{temp}}<br><br>Current Humidity is: {{humidity}}</p>
                                <div class="input-holder"><input class="form-control" placeholder="Set Temp:">
                                <input class="form-control" placeholder="Set Humi:"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">People</span>
                            </div>
                            <div class="price-text">
                                <p>Number of people in the room:  {{number}}<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
        <div class="button-container">
            <a class="main-button-slider" href="/">Back to Intro</a>
        </div>
    </section>

    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->

    <!-- ***** Counter Parallax End ***** -->   

    <!-- ***** Blog Start ***** -->
    
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Original Template by: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>

  </body>
</html>